:root{
  --bg: #160B18;
  --bg2: #160B18;
  --text: #E2C6E6;
  --light: #EF97D8;
  --mid: #AF74A0;
  --dark: #483646;
  --canvasbg: #0A070A;
  --canvasline: #1E202F;
  --square: #160B18;
  --squarelight: #D495CB;
  --btn: #2F2536;
  --btnon: #684B69;
  --popupbehind: rgba(30, 18, 41, 0.98);
  color-scheme: light only;
}

body{
  background-color: var(--bg);
  color: var(--text);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

canvas{
  touch-action: none;
}

.maindiv{
  width: 95%;
  height: 95%;
  display: grid;
  justify-items: start;
}
.colorpicker{
  height: 190px;
  width: 195px;
  display: block;
}
#colori{
  width: 190px;
  background-color: var(--bg);
  border: 0px;
  color: var(--text);
}
#colori:focus{
  outline: none;
}

.csquare{
  width: 40px;
  height: 40px;
  margin: 3px;
  padding: 0;
  border: 3px solid;
  border-radius: 4px;
  transition: all 0.2s ease;
}
#paldiv{
  height: 50px;
  width: 0px;
  display: flex;
  background-color: var(--bg2);
  border-radius: 6px;
}
.pallete{
  margin: 0px;
}
.buttons{
  width: 150px;
  height: 195px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(4,1fr);
  margin: 4px;
  margin-top: 0px;
}
button{
  width: 45px;
  height: 45px;
  font-size: 10px;
  background-color: var(--btn);
  border: 0px;
  color: var(--light);
  border-radius: 4px;
  margin: 0px;
  padding: 0px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  transition: all 0.1s ease-out;
}
button:active{
  background-color: var(--bg2);
}
.flex{
  display: flex;
}
#outline{
  position: absolute;
  z-index: -999;
}
#preview{
  width: 48px;
  height: 48px;
}
.popup{
  display: none;
  position: fixed;
  width: 100vw;
  background: var(--popupbehind);
}
.popup h2{
  margin: 12px;
}
.popup h4{
  margin: 12px;
}
#mpaldiv{
  height: 300px;
  width: 100%;
  background-color: var(--bg2);
  border-radius: 6px;
  display: grid;
  grid-template-columns: repeat(8,1fr);
  grid-template-rows: repeat(5,1fr);
}