:root{
  --bg: #140B16;
  --bg2: #211424;
  --text: #E2C6E6;
  --light: #EF97D8;
  --mid: #AF74A0;
  --dark: #483646;
  --canvasbg: #0A070A;
  --canvasline: #1E202F;
  --square: #593955;
  --squarelight: #C4A1BF;
  --btn: #2F2536;
  --btnon: #684B69;
  color-scheme: light only;
}

body{
  background-color: var(--bg);
  color: var(--text);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

canvas{
  touch-action: none;
}

.maindiv{
  width: 100%;
  height: 100%;
  display: grid;
  justify-items: start;
}
.colorpicker{
  height: 190px;
  width: 195px;
  display: block;
}
#colori{
  width: 190px;
  background-color: var(--bg);
  border: 1px solid var(--dark);
  color: var(--text);
}

.csquare{
  width: 40px;
  height: 40px;
  margin: 3px;
  padding: 0;
  border: 2px solid;
  border-radius: 4px;
  transition: all 0.2s ease;
}
#paldiv{
  height: 50px;
  width: 0px;
  display: flex;
  background-color: var(--bg2);
  border-radius: 6px;
}
.pallete{
  margin: 8px;
}
.buttons{
  width: 160px;
  height: 195px;
  display: flexbox;
  align-content: flex-start;
  justify-content: flex-start;
}
button{
  width: 45px;
  height: 45px;
  font-size: 10px;
  background-color: var(--btn);
  border: 2px solid var(--dark);
  color: var(--light);
  border-radius: 4px;
  margin: 2px;
  padding: 0;
}
button:active{
  border: 2px solid var(--bg);
}
.flex{
  display: flex;
}
#outline{
  position: absolute;
  z-index: -999;
}